.atributoSeleccionado{
    background-color: rgba(190, 190, 190, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    padding: 20px 28px 38px 28px;
    margin-bottom: 13px;
    margin-top: 13px;
}
.cajaAtributoInvisible{
    width: 43px;
    height: 38px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 800px){
    .atributoSeleccionado{
        align-items: center;
        padding: 5px 25px 35px 18px;
    }
}